html,
body {
  height: 100vh;
  overflow: hidden;
}
body {
  position: relative;
}
#app {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dlbox {
  overflow: hidden;
  width: 366px;
  height: 540px;
  background: url('../icon/dl.png');
}
.ulwrapper {
  width: 100px;
}
.ulwrapper li {
  width: 100%;
  line-height: 30px;
  text-align: center;
}
